<a href="https://colab.research.google.com/github/AralolaDev/Arithmetic-Operators/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = [1,2,3]
tuple(list)

(1, 2, 3)

In [ ]:
tuple = (1, 2, 3)
print(list(('Arthos', 'Porthos','Aramis')))

TypeError: 'list' object is not callable

A dictionary is an ordered collection of items,each item stored in a dictionary has a key and value, you can use a key to retrieve the corresponding value from the dictionary. So dictionaries have the type dict.

In [ ]:
Me ={
    'Name':'Aralola',
    'Gender':'Male',
    'School': 'WaterSprings',
     'Class': 'JSS1'
    }

In [ ]:
My_Sister = {
    ==   'Name':'Ewa',
    'Gender':'Female',
    'School':'WaterSprings',
    'Class': '3'
}

In [ ]:
print(Me)

{'Name': 'Aralola', 'Gender': 'Male', 'School': 'WaterSprings', 'Class': 'JSS1'}

In [ ]:
print(My_Sister)

{'Name': 'Ewa', 'Gender': 'Female', 'School': 'WaterSprings', 'Class': '3'}

In [ ]:
My_Friend = dict(Name = 'Fadhil', Gender = 'Male', School = 'WaterSprings', Class = '6')

In [ ]:
print(My_Friend)

{'Name': 'Fadhil', 'Gender': 'Male', 'School': 'WaterSprings', 'Class': '6'}

In [ ]:
type(Me)

dict

In [ ]:
type(My_Sister)

dict

In [ ]:
type(My_Friend)

dict

In [ ]:
Me['Name']

'Aralola'

In [ ]:
Me['Gender']

'Male'

In [ ]:
Me['School']

'WaterSprings'

In [ ]:
Me['Class']

'JSS1'

In [ ]:
Me.get('Name')

'Aralola'

In [ ]:
Me.get('Favourite food')

In [ ]:
Me['Favourite food']

KeyError: 'Favourite food'

In [ ]:
Me.get('Favourite food ','it does not exist')

'it does not exist'

In [ ]:
'Name' in Me

True

In [ ]:
'My Favourite food'in Me

False

In [ ]:
Me['My Favourite food'] =   'Jollof rice'

In [ ]:
print(Me)

{'Name': 'Aralola', 'Gender': 'Male', 'School': 'WaterSprings', 'Class': 'JSS1', 'My Favourite food': 'Jollof rice'}

In [ ]:
Me.pop('School')

'WaterSprings'

In [ ]:
print(Me)

{'Name': 'Aralola', 'Gender': 'Male', 'Class': 'JSS1', 'My Favourite food': 'Jollof rice'}

In [ ]:
Me.keys()

dict_keys(['Name', 'Gender', 'Class', 'My Favourite food'])

In [ ]:
Me.values()

dict_values(['Aralola', 'Male', 'JSS1', 'Jollof rice'])

In [ ]:
Me.values()

dict_values(['Aralola', 'Male', 'JSS1', 'Jollof rice'])

In [ ]:
Me.items()

dict_items([('Name', 'Aralola'), ('Gender', 'Male'), ('Class', 'JSS1'), ('My Favourite food', 'Jollof rice')])

In [ ]:
My_Cousin = {
    'Name':'Seyi',
    'Gender':'Male',
    'School':'Watersprings',
    'Class' : 'Preschool',
}

In [ ]:
print(My_Cousin)

In [ ]:
type(My_Cousin)

In [ ]:
Me.values()

In [ ]:
Me.pop('School')

In [ ]:
Me.keys()

In [ ]:
Me.items()

In [ ]:
'Name'in My_Cousin

In [ ]:
from random import randint
for i in range(50):
  x = randint(3,6)
  print(x)

3
3
4
4
6
6
5
5
6
3
6
6
4
5
4
6
6
4
3
5
6
5
5
3
6
3
3
3
3
6
4
3
6
4
5
4
3
5
5
6
5
4
5
3
6
4
3
4
3
4

In [ ]:
from random import randint
x = randint(1,50)
y = randint(2,5)
zed = x ** y
print("The value of x raised to power y is, {}".format(zed))
print("x is, {}".format(x))
print("y is, {}".format(y))

The value of x raised to power y is, 100000
x is, 10
y is, 5

In [ ]:
name  = "Aralola"
print("My name is", name) #coma seperation method
print( f"My name is {name}" ) #formatted string
print("My name is, {}!".format(name)) #str.format

My name is Aralola
My name is Aralola
My name is, Aralola!

In [ ]:
My_Name = "Aralola"

In [ ]:

#3. Write a program that generates a random number between 1 and 10 and prints your name
#that many times.
from random import randint
z = randint(1,10)
print(f"The random number generated between 1 and 10 is {z}")
for i in range(z):
  print(My_Name)

The random number generated between 1 and 10 is 5
Aralola
Aralola
Aralola
Aralola
Aralola

In [ ]:
#4. Write a program that generates a random decimal number between 1 and 10 with two decimal places of accuracy.
 #Examples are 1.23, 3.45, 9.80, and 5.00.
from random import randint
a = (1,10)
print(f"The random decimal number generated between 1 and 10 is {a}")
for i in range(a)

SyntaxError: invalid syntax (<ipython-input-6-245f8c088e6a>, line 4)

In [ ]:
score = 99

In [ ]:
if score >= 95 and score < 100:
  print("You got an A !")

You got an A !

In [ ]:
new_score = 86

In [ ]:
if score >=  80 and new_score < 90:
  print("You got a B !")

You got a B !

In [ ]:
low_score = 67

In [ ]:
if low_score >= 60 and low_score < 80:
  print("You got a C !")

You got a C !

In [ ]:
average_score = 55

In [ ]:
if average_score >= 50 and average_score < 60:
  print("You got a D !")
else:
  print("You got an F")

You got a D !

In [ ]:
score = int(input("enter a score here"))
if score >= 95 and score < 100:
  print("You got an A !")

elif score >=  80 and score < 90:
  print("You got a B !")

elif score >= 60 and score < 80:
  print("You got a C !")

elif score >= 50 and score < 60:
  print("You got a D !")
else:
  print("You got an F")

enter a score here96
You got an A !

In [ ]:
#5. Write a program that generates 50 random numbers such that the first number is between 1 and 2, the second is between 1 and 3,
#the third is between 1 and 4, . . . , and the last is between 1 and 51.
from random import randint
x = randint(1,2)
print(f"The 50 random numbers between 1 and 2 is {x}")
for i in range(50):
  print(x)
y = randint(1,3)
print(f"The 50 random numbers between 1 and 3 is {y}")
for i in range(50):
  print(y)
z = randint(1,4)
print(f"The 50 random numbers between 1 and 4 is {z}")
for i in range(50):
  print(z)
w = randint(1,51)
print(f"The 50 random. numbers between 1 and 51 is {w}")
for i in range(50):
  print(w)

The 50 random numbers between 1 and 2 is 1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
The 50 random numbers between 1 and 3 is 1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
The 50 random numbers between 1 and 4 is 2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
The 50 random. numbers between 1 and 51 is 29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29

In [ ]:
#6. Write a program that asks the user to enter two numbers, x and y , and computes | x âˆ’ y | . x+y

(71, 109)

In [ ]:
x = int(input("Enter a number here"))
if x = 60

In [ ]:
result = 1
i = 1

while i <= 100:
    result = result * i # 1*1 = 1
    i = i+1 #1+1 = 2

print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
l = "%"
l = l + "%"
l

'%%'

In [ ]:
a = '**'
print(a[:-1])

*

In [ ]:
l = "%%"
print(len(l))

2

In [ ]:
while len(l) < 10:
  print(l)
  l = l + "%"

%%
%%%
%%%%
%%%%%
%%%%%%
%%%%%%%
%%%%%%%%
%%%%%%%%%

In [ ]:
print('%'*20)
print('%'*20)
print('%'*20)
print('%'*1 + ' '*18 + '%'*1)
print('%'*20)
print('%'*20)
print('%'*20)

%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%
%                  %
%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%

In [ ]:
print('%'*12)
print('%'*1 + ' '*10 + '%'*1)
print('%'*1 + ' '*10 + '%'*1)
print('%'*1 + ' '*10 + '%'*1)
print('%'*1 + ' '*10 + '%'*1)
print('%'*12)

%%%%%%%%%%%%
%          %
%          %
%          %
%          %
%%%%%%%%%%%%

In [ ]:
print('%'*20)
print('%'*1 + ' '*18 + '%'*1)
print('%'*1 + ' '*18 + '%'*1)
print('%'*1 + ' '*18 + '%'*1)
print('%'*1 + ' '*18 + '%'*1)
print('%'*1 + ' '*18 + '%'*1)
print('%'*1 + ' '*18 + '%'*1)
print('%'*20)

%%%%%%%%%%%%%%%%%%%%
%                  %
%                  %
%                  %
%                  %
%                  %
%                  %
%%%%%%%%%%%%%%%%%%%%

In [ ]:
temp = 0
while temp!=-1000:
  temp = eval(input('Enter a temperature (-1000 to quit): '))
  print('In Fahrenheit that is', 9/5*temp+32)

Enter a temperature (-1000 to quit): 1
In Fahrenheit that is 33.8
Enter a temperature (-1000 to quit): 14
In Fahrenheit that is 57.2
Enter a temperature (-1000 to quit): -1000
In Fahrenheit that is -1768.0

In [ ]:
centimetre = 0
while centimetre < 100:
  centimetre = eval(input('Enter a centimetre: '))
  print('In meters that is', centimetre/100)

KeyboardInterrupt: Interrupted by user

In [ ]:
i=0
while i<50:
  print(i)
  i=i+2
print('Bye!')

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
Bye!

In [ ]:
a=3
while a<50:
  print(a)
  a=a+3
print('Bye!')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
Bye!

In [ ]:
temp = 0
while temp!=-1000:
  temp = eval(input('Enter a temperature (-1000 to quit): '))
  if temp!=-1000:
    print('In Fahrenheit that is', 9/5*temp+32)
  else:
    print('Bye!')

Enter a temperature (-1000 to quit): -1000\

In [ ]:
from random import randint
secret_num = randint(1,10)
guess = 0
while guess != secret_num:
  guess = eval(input('Guess the secret number: '))
  print('You finally got it!')

You finally got it!
You finally got it!
You finally got it!
Guess the secret number: 45

# New section

In [ ]:
for i in range(10):
i=0
print(i)
while i<10
i=i+1
print(i)

In [ ]:
temp = eval(input('Enter a temperature in Celsius: '))
print('In Fanherit, that is', 9/5*temp+32)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
challenge = '12345678910'
while len(challenge) > 0:
  print(challenge)
  challenge = challenge[1:]

In [ ]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

for i in days:
  print(i)

In [ ]:
# Looping over a string
for char in 'Monday':
    print(char)

In [ ]:
me = {
    'name':'Aralola',
    'gender':'Male',
    'age' : 10,
}

for key in me:
  print(key,me[key])

name Aralola
gender Male
age 10

In [ ]:
for i in range(10):
  print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(3):
  num = eval(input('Enter a number: '))
  print ('The square of your number is', num*num)
print('The loop is now done.')

Enter a number: 21217364758736218643668237414970494
The square of your number is 450176567305261637573240058636028661146050255198205732198666890604036
Enter a number: 2039277657473828305620958731058761084
The square of your number is 4158653364271944603038490565542035536815237361341472017309101672992855056
Enter a number: 1256542
The square of your number is 1578897797764
The loop is now done.

In [ ]:
print('A')
print('B')
for i in range(5):
  print('C')
  print('D')
print('E')

A
B
C
D
C
D
C
D
C
D
C
D
E

In [ ]:
for i in range(5):
  print('C')
  print('D')

C
D
C
D
C
D
C
D
C
D

In [ ]:
for i in range(10):
  print("Aralola")
  print('I am now in JSS1')

Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1
Aralola
I am now in JSS1

In [ ]:
print('A')
print('B')
for i in range(5):
  print('C')
for i in range(5):
  print('D')
print('E')

A
B
C
C
C
C
C
D
D
D
D
D
E

In [ ]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(3):
  print(i+1, '-- Hello')

1 -- Hello
2 -- Hello
3 -- Hello

In [ ]:
for i in range(3):
  print(i + 1, "-- Aralola")

1 -- Aralola
2 -- Aralola
3 -- Aralola

In [ ]:
for i in range(5,0,-1):
  print(i, end=' ')
print('Blast off!!')

5 4 3 2 1 Blast off!!

In [ ]:
for i in range(5,0,-1):
  print(i,end = ' ')
print('Blast off !!')

5 4 3 2 1 Blast off !!

In [ ]:
for i in range(4):
  print('*'*6)

******
******
******
******

In [ ]:
for i in range(4):
  print('*'*(i+1))

*
**
***
****

In [ ]:
for i in range(0,1-100):
  print("Aralola")

In [ ]:
for i in range(100):
  print("Aralola")

Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola

In [ ]:
for i in range(0,100):
  print( i + 1 ,"Aralola")

1 Aralola
2 Aralola
3 Aralola
4 Aralola
5 Aralola
6 Aralola
7 Aralola
8 Aralola
9 Aralola
10 Aralola
11 Aralola
12 Aralola
13 Aralola
14 Aralola
15 Aralola
16 Aralola
17 Aralola
18 Aralola
19 Aralola
20 Aralola
21 Aralola
22 Aralola
23 Aralola
24 Aralola
25 Aralola
26 Aralola
27 Aralola
28 Aralola
29 Aralola
30 Aralola
31 Aralola
32 Aralola
33 Aralola
34 Aralola
35 Aralola
36 Aralola
37 Aralola
38 Aralola
39 Aralola
40 Aralola
41 Aralola
42 Aralola
43 Aralola
44 Aralola
45 Aralola
46 Aralola
47 Aralola
48 Aralola
49 Aralola
50 Aralola
51 Aralola
52 Aralola
53 Aralola
54 Aralola
55 Aralola
56 Aralola
57 Aralola
58 Aralola
59 Aralola
60 Aralola
61 Aralola
62 Aralola
63 Aralola
64 Aralola
65 Aralola
66 Aralola
67 Aralola
68 Aralola
69 Aralola
70 Aralola
71 Aralola
72 Aralola
73 Aralola
74 Aralola
75 Aralola
76 Aralola
77 Aralola
78 Aralola
79 Aralola
80 Aralola
81 Aralola
82 Aralola
83 Aralola
84 Aralola
85 Aralola
86 Aralola
87 Aralola
88 Aralola
89 Aralola
90 Aralola
91 Aralola
92 Aralola
93 Aralola
94 Aralola
95 Aralola
96 Aralola
97 Aralola
98 Aralola
99 Aralola
100 Aralola

In [ ]:
for i in range(21):
  print(i+1,"--",(i + 1 ) ** 2)

1 -- 1
2 -- 4
3 -- 9
4 -- 16
5 -- 25
6 -- 36
7 -- 49
8 -- 64
9 -- 81
10 -- 100
11 -- 121
12 -- 144
13 -- 169
14 -- 196
15 -- 225
16 -- 256
17 -- 289
18 -- 324
19 -- 361
20 -- 400
21 -- 441

In [ ]:
for i in range(100):
  print(i + 1,"--",(i + 1) ** 3)

1 -- 1
2 -- 8
3 -- 27
4 -- 64
5 -- 125
6 -- 216
7 -- 343
8 -- 512
9 -- 729
10 -- 1000
11 -- 1331
12 -- 1728
13 -- 2197
14 -- 2744
15 -- 3375
16 -- 4096
17 -- 4913
18 -- 5832
19 -- 6859
20 -- 8000
21 -- 9261
22 -- 10648
23 -- 12167
24 -- 13824
25 -- 15625
26 -- 17576
27 -- 19683
28 -- 21952
29 -- 24389
30 -- 27000
31 -- 29791
32 -- 32768
33 -- 35937
34 -- 39304
35 -- 42875
36 -- 46656
37 -- 50653
38 -- 54872
39 -- 59319
40 -- 64000
41 -- 68921
42 -- 74088
43 -- 79507
44 -- 85184
45 -- 91125
46 -- 97336
47 -- 103823
48 -- 110592
49 -- 117649
50 -- 125000
51 -- 132651
52 -- 140608
53 -- 148877
54 -- 157464
55 -- 166375
56 -- 175616
57 -- 185193
58 -- 195112
59 -- 205379
60 -- 216000
61 -- 226981
62 -- 238328
63 -- 250047
64 -- 262144
65 -- 274625
66 -- 287496
67 -- 300763
68 -- 314432
69 -- 328509
70 -- 343000
71 -- 357911
72 -- 373248
73 -- 389017
74 -- 405224
75 -- 421875
76 -- 438976
77 -- 456533
78 -- 474552
79 -- 493039
80 -- 512000
81 -- 531441
82 -- 551368
83 -- 571787
84 -- 592704
85 -- 614125
86 -- 636056
87 -- 658503
88 -- 681472
89 -- 704969
90 -- 729000
91 -- 753571
92 -- 778688
93 -- 804357
94 -- 830584
95 -- 857375
96 -- 884736
97 -- 912673
98 -- 941192
99 -- 970299
100 -- 1000000

In [ ]:
for i in range(8,90,3):
  print(i, end= ' ')

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

In [10]:
for i in range(100,96,98):
   print(i, end= ' ')

In [47]:
for i in range(7):
  if i == 0:
    print('  *  ')
  elif i == 3:
    print('*****')
  else:
    print('*   *')

  *
*   *
*   *
*****
*   *
*   *
*   *

In [53]:
My_Name= input('Enter a name here:')
times = int(input('Enter the number of times you want your name to be printed:'))
for i in range(times):
  print(My_Name)

Enter a name here:Aralola
Enter the number of times you want your name to be printed:10
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola
Aralola

In [50]:
print("*" * 10)
print("*" * 10)
print("*" * 10)
print("*" * 10)
print("*" * 10)
print("*" * 10)
print("*" * 10)
print("*" * 10)
print("*" * 10)
print("*" * 10)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [23]:
print('*'*20)
print('*'*1 + ' '*18 + '*'*1)
print('*'*1 + ' '*18 + '*'*1)
print('*'*1 + ' '*18 + '*'*1)
print('*'*1 + ' '*18 + '*'*1)
print('*'*1 + ' '*18 + '*'*1)
print('*'*1 + ' '*18 + '*'*1)
print('*'*20)

********************
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
********************

In [24]:
print('*')
print('**')
print('***')
print('****')

*
**
***
****

In [29]:
print('****')
print('***')
print('**')
print('*')

****
***
**
*

In [42]:
print(*)

*
***
*****
*******
*****
***
*